@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Investment Web application evaluates financial health of a listed company, focusing on long term survival and stability. This evaluation by no means will be a compehensive one. The application is designed to focus attention on aspects of business which gets burried in compre
    hensive evaluation. So in some ways it is supplimental evaluation, helpful in investment decision making. For one, the application assesses, "Debt Burden", of a company, which remains a burden till the business starts generating greater returns then cost of servicing this debt burden, and it is eventually paid off. </p>
