@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>

    C/O Code Louisville Way<br />
    Louisville, KY 40202<br />
    <abbr title="Phone">Phone: </abbr>
    502.555.0000
</address>