@{
  ViewBag.Title = "Investment evaluations";

}
<h2>@ViewBag.Title.</h2>


<div class="jumbotron">
    <h1>www.Investment.com</h1>
    <p class="lead">
        Our Investment application gives an option to review listed stock individually,
        based on major debt burden of a listed company, in relation to it's built up assets.
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>In few words</h2>
        <p>
            Investment application, attempts to make it simple to understand major "Debt Burden",  of any listed company, crucial for it's long term survival.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Word of caution</h2>
        <p>Please consider this application as a supplement to regular listed company stock analysis. For simplicity, here we attempt to evaluate long term survival of business from point of debt burden.</p>

    </div>

    <div class="col-md-4">
        <h2>Analysis</h2>
        <p>In general debt is healthy for business so far it's involvement generates greater returns (fairly soon), than debt's service cost. It is crucial though that a business should have resources to service debts. </p>

    </div>
</div>